:root {
  --primary-color: #bbf2eb;
  --secondary-color: #15a38c;
  --heading-font-family: Playfair Display, sans-serif;
  --primary-font-family: Poppins, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-weight: bold;
  font-size: 64px;
}
p {
  font-weight: normal;
  line-height: 1.7;
  opacity: 80%;
}
nav img {
  max-height: 45px;
  padding-right: 10px;
}
nav a:hover {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}
nav li.active a {
  color: var(--secondary-color);
  font-weight: Bold;
}
footer {
  margin-bottom: 60px;
}
footer .email-link {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding-bottom: 20px;
}
footer .email-link:hover {
  color: var(--secondary-color);
}
footer .social-links a {
  font-size: 18px;
  text-decoration: none;
  margin: 0 20px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--secondary-color);
}
.intro {
  background: var(--primary-color);
  text-align: center;
  padding: 85px 20px;
}
.intro h2 {
  font-weight: normal;
  font-size: 24px;
}
.intro p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.btn-branding {
  padding: 18px 30px;
  color: white;
  background-color: var(--secondary-color);
  border: solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
}
.btn-branding:hover {
  border: solid var(--secondary-color);
}
.btn-branding-outline {
  border: solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary-color);
}
.btn-branding-outline:hover {
  color: white;
  background-color: var(--secondary-color);
  border: solid var(--secondary-color);
}
.project-description {
  padding: 120px 60px;
}
.content-container {
  padding: 85px 20px;
  font-family: var(--primary-font-family);
}
.content h1 {
  font-size: 50px;
  line-height: 65px;
}
.content h2 {
  font-size: 20px;
  padding: 20px 0;
  text-align: left;
}
.content h3 {
  font-size: 24px;
  font-family: var(--primary-font-family);
  margin-top: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.content p {
  font: 14px;
}
.inquire-here {
  max-width: 90%;
  background-color: var(--primary-color);
  padding: 10px;
  margin: 50px;
}
.inquire-here .row {
  margin: 25px 70px;
}
.inquire-here h3 {
  font-size: 48px;
  font-weight: bold;
}
.inquire-here p {
  font-size: 18px;
}
.headshot {
  max-width: 450px;
  border: solid 10px var(--primary-color);
  border-radius: 10px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  .project-description {
    padding: 25px 0;
  }
  .intro {
    padding: 50px 10px;
  }
  .content {
    text-align: center;
  }
  .content h2 {
    text-align: center;
  }
  .content p {
    text-align: center;
  }
  .inquire-here {
    text-align: center;
  }
  .social-links {
    color: var(--secondary-color);
  }
}
